<div class="col-md-12 p-0 bg-white" *ngIf="loardfacture == true && facture">
  <div class="text-left mt-2">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Reference</th>
            <th scope="col">Date commande</th>
            <th scope="col">Montant à payer</th>
            <th scope="col">Montant reçu</th>
            <th scope="col">Montant restant</th>
            <th scope="col">Date facture</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of facture; let i = index">
            <th scope="row">{{ item?.commande }}</th>
            <td>{{ item?.dateCommande | date : "mediumDate" }}</td>
            <td>{{ item?.montant_a_payer }}</td>
            <td>{{ item?.montant_recu }}</td>
            <td>{{ item?.montant_restant }}</td>
            <td>{{ item?.date | date : "mediumDate" }}</td>
            <td>
              <a
                (click)="showdetail(item?.commande, i)"
                class="text-facebook mr-2"
              >
                <i class="nav-icon i-Eye font-weight-bold tx-20"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="col-md-12" *ngIf="!facture">
  <div class="col-md-12 text-center noData">
    <app-loarding></app-loarding>
  </div>
</div>
<!-- NO DATA -->
<div *ngIf="loardfacture == false && facture" class="col-md-12">
  <br /><br /><br /><br />
  <div class="col-md-12 text-center noData">
    <app-no-data></app-no-data>
  </div>
  <br /><br /><br /><br />
</div>
<!-- Facture Modal -->
<div id="factureModal" class="modal fade" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content modal-content2">
      <div class="modal-header bg-white">
        <h5 class="modal-title tx-primary" id="exampleModalLongTitle">
          <i class="fad fa-envelope-open-dollar tx-20"></i> Facturer
        </h5>
        <button
          type="button"
          class="close"
          (click)="generatePDF()"
          style="color: #0000ff"
        >
          <i class="fal fa-download"></i>
        </button>
      </div>
      <div class="modal-body scroll-11">
        <div
          class="col-md-10 offset-md-1"
          id="contentToConvert"
          *ngIf="detailfacture"
        >
          <div class="row">
            <div class="col-md-5">
              <div class="col-md-12">
                <p>
                  {{ currentfacture.prenomClient }}
                  {{ currentfacture.nomClient }}
                </p>
              </div>
              <div class="col-md-12">
                <p>{{ currentfacture?.telClient }}</p>
              </div>
              <div class="col-md-12">
                <p>
                  <i class="fal fa-city tx-facebook"></i>
                  {{ currentfacture?.adresseClient }}
                </p>
              </div>
            </div>
            <div class="col-md-3">
              <p class="tx-facebook">Facture N° {{ currentfacture?.id }}</p>
            </div>
            <div class="col-md-4">
              <div class="col-md-12">
                <p><i class="fad fa-sun tx-30 text-facebook"></i> Eco Shop</p>
              </div>
              <div class="col-md-12">
                <p>{{ email }}</p>
              </div>
              <div class="col-md-12">
                <p>+221 77 942 09 60</p>
              </div>
            </div>
            <div class="col-md-12 pt-4 p-2">
              <div class="col-md-12">
                <div class="table-responsive scroll-12">
                  <table class="table table-hover table-sm mb-0">
                    <tbody>
                      <tr class="bd-b bd-2">
                        <th class="tx-yeto2 tx-left"></th>
                        <th class="tx-yeto2 tx-left">
                          <p class="mg-0 tx-facebook tx-bold">Produit</p>
                        </th>
                        <th class="tx-yeto2 tx-left">
                          <p class="mg-0 tx-facebook tx-bold">Prix unitaire</p>
                        </th>
                        <th class="tx-yeto2 tx-left">
                          <p class="mg-0 tx-facebook tx-bold">Quantité</p>
                        </th>
                        <th class="tx-yeto2 tx-left">
                          <p class="mg-0 tx-facebook tx-bold">Sous total</p>
                        </th>
                      </tr>
                      <tr *ngFor="let item of detailfacture; let i = index">
                        <td>
                          <img
                            [src]="item?.imgProduit"
                            height="40"
                            width="40"
                          />
                        </td>
                        <td class="bd-r bd-2 bd-white">
                          <div>
                            <p class="mg-0 tx-primary mt-1 taillebody">
                              {{ item?.nomProduit }}
                            </p>
                          </div>
                        </td>
                        <td class="tx-left">
                          <div>
                            <p class="mg-0 tx-primary mt-1">
                              {{ item?.prixProduit }}
                            </p>
                          </div>
                        </td>
                        <td class="tx-center">
                          <div>
                            <p class="mg-0 tx-primary mt-1">
                              {{ item?.quantite }}
                            </p>
                          </div>
                        </td>
                        <td class="tx-center">
                          {{ item?.sous_total }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-lg-12 mt-5">
                    <div class="ul-product-cart__invoice">
                      <div class="card-title">
                        <h4 class="heading text-primary">Paiement</h4>
                      </div>
                      <table class="table">
                        <tbody>
                          <tr>
                            <th scope="row" class="text-16">Montant reçu</th>
                            <td>
                              <ul class="list-unstyled mb-0">
                                <li>
                                  <div class="">
                                    <label class="text-left">
                                      <span>{{
                                        currentfacture?.montant_recu
                                      }}</span>
                                    </label>
                                  </div>
                                </li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row" class="text-16">Montant rendu</th>
                            <td>
                              <ul class="list-unstyled mb-0">
                                <li>
                                  <div class="">
                                    <label class="text-left">
                                      <span>{{
                                        currentfacture?.montant_restant
                                      }}</span>
                                    </label>
                                  </div>
                                </li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row" class="text-primary text-16">
                              Total à payer:
                            </th>
                            <td class="font-weight-700 text-16">
                              {{ currentfacture?.montant_a_payer }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 text-right py-4">
              Payé le, {{ currentfacture?.date | date : "mediumDate" }}
            </div>
          </div>
        </div>
        <div class="col-md-12" *ngIf="!detailfacture">
          <div class="col-md-12 text-center noData">
            <app-loarding></app-loarding>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-md-12 text-center">
          <button class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
</div>
