<div class="auth-layout-wrap bgtera">
  <div class="auth-content">
    <div class="card o-hidden">
      <div class="row">
        <div class="col-md-6">
          <div class="p-4">
            <div class="auth-logo text-center mb-4">
              <p class="tx-26">
                <img aria-haspopup="true" aria-expanded="false" src="./assets/img/logo.png"
                  style="width: 300px !important" />
              </p>
            </div>
            <h1 class="mb-3 text-18">Connection</h1>
            <form [formGroup]="loginForm">
              <div class="form-group">
                <label for="email">Adresse email</label>
                <input id="email" class="form-control form-control-rounded" type="email" formControlName="email" />
              </div>
              <div class="form-group">
                <label for="password">Mot de passe</label>
                <div class="input-icons">
                  <a (click)="toggleShow()"><i class="fa fa-eye icon"></i></a>
                  <input formControlName="password" class="form-control form-control-rounded" type="password"
                    id="password" />
                </div>
              </div>
              <button class="btn btn-rounded btn-primary btn-block mt-2"
                [disabled]="loginForm.invalid || loading == true" (click)="login()">
                <i *ngIf="loading == true" class="fas fa-spinner fa-spin"></i>
                Se connecter
              </button>
            </form>
          </div>
        </div>
        <div class="col-md-6 text-center" style="
            background-size: cover;
            background-repeat: round;
            background-image: url(./assets/img/ac1.avif);
          ">
          <div class="pr-3 auth-right">
            <a class="btn btn-outline-facebook btn-block btn-icon-text btn-rounded"
              href="https://www.linkedin.com/in/mouhamadou-mballo-815808275" target="_blank">
              &copy; 2025 by Mouhamadou MBALLO
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>