<div class="app-admin-wrap layout-sidebar-large clearfix">
  <div class="col-md-12 p-0">
    <div class="main-header">
      <div class="col-md-12">
        <div class="row row-xs clearfix">
          <div class="col-md-9">
            <div class="d-flex align-items-center">
              <!-- Mega menu -->
              <div class="dropdown mega-menu d-none d-md-block">
                <a class="tx-ether tx-bolder" style="
                    font-family: 'Roboto';
                    text-align: center;
                    vertical-align: middle;
                    text-shadow: 0px 1px 0px #ffffff;
                  ">
                  <p class="tx-26 tx-ether tx-uppercase mb-0">
                    <img id="userDropdown" alt="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                      width="100" src="./assets/img/logo.png" />
                    Eco Shop
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="header-part-right float-right p-2">
              <button class="btn btn-facebook float-right" (click)="panierService.showpanier()">
                Panier
                <span class="badge" style="padding: 1px !important">{{
                  panierService.valeurproprio.length
                  }}</span>
                <i class="fal fa-shopping-bag tx-white" style="padding: 6px; border-radius: 50%"></i>
              </button>
              <!-- <div class="pl-2">
                <button class="btn btn-facebook" routerLink="/users/contact">
                  Contact
                  <i
                    class="fal fa-address-book tx-white"
                    style="padding: 6px; border-radius: 50%"
                  ></i>
                </button>
              </div> -->
              <div class="dropdown">
                <div class="user col align-self-end">
                  <img id="userDropdown" alt="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    src="./assets/img/avatarH.png" />

                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <div class="dropdown-header">
                      <i class="i-Lock-User mr-1"></i>
                      <a routerLink="/admin/produit"> Administration</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12 py-4">
  <div class="col-md-12 pt-6">
    <div class="card text-left">
      <div class="card-body p-4">
        <div class="carousel_wrap">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li *ngFor="let item of listimgaccueil; let i = index" data-target="#carouselExampleIndicators"
                data-slide-to="i" [ngClass]="{ active: i == 0 }"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item" *ngFor="let item of listimgaccueil; let i = index"
                [ngClass]="{ active: i == 0 }">
                <img class="d-block w-100 size-slider-gallerie" [src]="'./assets/img/' + item.url" alt="First slide" />
                <div class="carousel-caption">
                  <h3 class="slider-style">
                    {{ item.name }}
                  </h3>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" [href]="['#carouselExampleIndicators']" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only"> Précédent</span>
            </a>
            <a class="carousel-control-next" [href]="['#carouselExampleIndicators']" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Suivant</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 p-0 mt-2">
    <ng-container *ngIf="!panierService.affichepanier">
      <div class="row justify-content-between mg-0 pd-0 pt-3 pb-3">
        <div class="col-lg-12">
          <h5 class="tx-ether tx-20 tx-bolder">
            <i class="fad fa-store bg-white tx-primary tx-30" style="padding: 6px; border-radius: 50%"></i>
            Nos produits
          </h5>
        </div>
      </div>
      <div class="col-md-12 pb-2 bgtera" *ngIf="loarding == true && produit">
        <div class="row">
          <div class="col-lg-3 pl-2 pr-2 pt-2" *ngFor="let item of produit; let i = index">
            <div class="card">
              <div class="card-body">
                <div class="card-profile-1 mb-4">
                  <div class="text-center">
                    <div class="avatar9 box-shadow-2 mb-3">
                      <img [src]="item?.image" alt="Second slide" />
                    </div>
                  </div>
                </div>
                <ul class="list-group list-group-flush tx-center">
                  <li class="list-group-item p-0 text-primary tx-20">
                    <div class="tailledesc2">
                      {{ item?.nom }}
                    </div>
                  </li>
                  <li class="list-group-item p-0 tx-bolder tx-warning">
                    <div class="tailledesc2">
                      {{ item?.description }}
                    </div>
                  </li>
                </ul>
                <div class="tx-center">
                  <span class="text-primary tx-bolder">
                    <i class="fal fa-wallet text-primary mr-2 bg-gray-100 btn-primary"
                      style="padding: 10px; border-radius: 50%"></i>
                    {{ item?.prix }} FCFA
                  </span>
                </div>
                <div class="card-body tx-center">
                  <button class="btn btn-primary btn-rounded" (click)="ajoutPanier(item)">
                    <i class="fal fa-basket-shopping mr-2 tx-white"></i>
                    Commander
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12" *ngIf="!produit">
        <div class="col-md-12 text-center noData">
          <app-loarding></app-loarding>
        </div>
      </div>
      <!-- NO DATA -->
      <div *ngIf="loarding == false && produit" class="col-md-12">
        <br />
        <br />
        <div class="col-md-12 text-center noData">
          <app-no-data></app-no-data>
        </div>
        <br />
        <br />
      </div>
    </ng-container>
    <div class="col-md-12 p-0" *ngIf="panierService.affichepanier">
      <div class="col-md-12 pt-4">
        <div class="row row-xs clearfix mg-0 pd-0">
          <div class="col-md-12 p-0">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-8">
                  <div class="col-md-12 mb-2">
                    <div class="row row-xs justify-content-between mg-0 pd-0">
                      <div class="col-lg-12 text-center">
                        <h5 class="tx-ether tx-20 tx-bolder">
                          <i class="fal fa-shopping-bag bg-white tx-primary tx-30"
                            style="padding: 6px; border-radius: 50%"></i>
                          Votre panier
                        </h5>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="table-responsive scroll-12">
                      <table class="table table-hover table-sm mb-0">
                        <tbody>
                          <tr class="bd-b bd-2">
                            <th class="tx-yeto2 tx-left"></th>
                            <th class="tx-yeto2 tx-left">
                              <p class="mg-0 tx-facebook tx-bold">Produit</p>
                            </th>
                            <th class="tx-yeto2 tx-left">
                              <p class="mg-0 tx-facebook tx-bold">
                                Prix unitaire
                              </p>
                            </th>
                            <th class="tx-yeto2 tx-left">
                              <p class="mg-0 tx-facebook tx-bold">Quantité</p>
                            </th>
                            <th class="tx-yeto2 tx-left">
                              <p class="mg-0 tx-facebook tx-bold">Sous total</p>
                            </th>
                            <th></th>
                          </tr>
                          <tr *ngFor="
                              let item of panierService.valeurproprio;
                              let i = index
                            ">
                            <td>
                              <img [src]="item?.image" height="40" width="40" />
                            </td>
                            <td class="bd-r bd-2 bd-white">
                              <div>
                                <p class="mg-0 tx-primary mt-1 taillebody">
                                  {{ item?.nom }}
                                </p>
                              </div>
                            </td>
                            <td class="tx-left">
                              <div>
                                <p class="mg-0 tx-primary mt-1">
                                  {{ item?.prix }}
                                </p>
                              </div>
                            </td>
                            <td class="tx-left">
                              <div>
                                <p class="mg-0 tx-primary mt-1">
                                  <a (click)="
                                      panierService.actionbtn('moins', i)
                                    "><i class="fal fa-minus bgtera" style="padding: 6px; border-radius: 50%"></i></a>
                                  {{ item?.quantitedem }}
                                  <a (click)="panierService.actionbtn('plus', i)"><i class="fal fa-plus bgtera"
                                      style="padding: 6px; border-radius: 50%"></i></a>
                                </p>
                              </div>
                            </td>

                            <td class="tx-left">
                              {{ item?.soustotal }}
                            </td>
                            <td class="tx-left">
                              <span class="pl-2 float-right pointers" (click)="panierService.removevalue(i)">
                                <i class="fal fa-times tx-danger tx-12 bgtera"
                                  style="padding: 6px; border-radius: 50%"></i>
                              </span>
                            </td>
                          </tr>
                          <tr class="bg-gray">
                            <td class="bd-r bd-2 bd-white">
                              <div>
                                <p class="mg-0 tx-facebook tx-bold">
                                  Total Achat
                                </p>
                              </div>
                            </td>
                            <td class="tx-left">
                              <div>
                                <p class="mg-0 tx-primary tx-bold">
                                  {{ panierService.valeurproprio.length }}
                                </p>
                              </div>
                            </td>
                            <td class="tx-center"></td>
                            <td class="tx-center">
                              <!-- <div>
                                                                <p class="mg-0 tx-primary tx-bold">
                                                                    {{quantite}}
                                                                </p>
                                                            </div> -->
                            </td>
                            <td class="tx-center"></td>
                            <td class="tx-left">
                              <div>
                                <p class="mg-0 tx-facebook tx-bold">
                                  {{ panierService.total }}
                                </p>
                              </div>
                            </td>
                            <td class="tx-center"></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 bgtera">
                  <div class="col-md-12">
                    <div class="col-md-12 text-center py-2">
                      <h5 class="tx-facebook">Information sur la livraison</h5>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="tx-danger">Le paiement se fera après livraison</label>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="tx-facebook">Nom</label>
                          <div class="input-group">
                            <input class="form-control" type="text" id="nom" />
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="tx-facebook">Prenom</label>
                          <div class="input-group">
                            <input class="form-control" type="text" id="prenom" />
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="tx-facebook">Telephone</label>
                          <div class="input-group">
                            <input class="form-control" type="number" min="0" id="telephone" />
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="tx-facebook">Adresse livraison</label>
                          <input class="form-control" type="text" id="adresse" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 text-center py-2">
                    <button type="button" class="btn btn-secondary mr-2" [disabled]="panierService.statut == true"
                      (click)="annuler()" *ngIf="panierService.valeurproprio.length > 0">
                      Annuler</button>&nbsp;
                    <button type="button" class="btn btn-secondary mr-2" [disabled]="panierService.statut == true"
                      (click)="retour()">
                      Retour</button>&nbsp;
                    <button type="button" class="btn btn-primary" *ngIf="panierService.valeurproprio.length > 0"
                      [disabled]="panierService.statut == true" (click)="commander()">
                      <i *ngIf="panierService.statut == true" class="fas fa-spinner fa-spin"></i>
                      Commander
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>